.title {
  padding: 10px 10px 0;
  font-size: 1.3rem;
  color: #28307e;
}

.footer-info {
  margin: 4px 0;
  color: #28307e;
  font-size: 1.1rem;
}

.dropdown-item {
  padding: 6px 10px;
  height: 35px;

  .mat-icon {
    float: left;
  }

  span {
    float: left;
    padding: 4px 6px;
  }
}
