// Variable overrides
$box-border-color: #f4f4f4;
$box-border-radius: 3px;
$box-footer-bg: #fff;
$box-boxshadow: 0 1px 1px rgba(0, 0, 0, 0.1);
$box-padding: 10px;

//GRID
$grid-border-bg: #d8d8db;
$grid-color: #111;

// $sidebar-color: green;
// $sidebar-bg: #002457;
// $sidebar-nav-title-color: red;
// $sidebar-nav-link-color: yellow;
// $sidebar-nav-link-bg: orange;
// $sidebar-nav-link-icon-color: red;
// $sidebar-nav-link-active-color: brown;
// $sidebar-nav-link-active-bg: pink;
// $sidebar-nav-link-hover-color: red;
// $sidebar-nav-link-hover-bg: white;
